# Основной файл проекта
entrypoint = "security/main.go"

# Команда запуска проекта в Replit
# Здесь запускаются main.go и table.go, потому что они оба входят в пакет main
run = "go run security/main.go security/table.go"

# Подключаем модуль Go
modules = ["go-1.21"]

# Настройка отображения приложения в Preview
[nix]
channel = "stable-24_05"

# Дополнительные настройки интерфейса Replit
[deployment]
run = ["sh", "-c", "go run security/main.go security/table.go"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
