entrypoint = "security/main.go"
run = ["go", "run", "./security"]

modules = ["go-1.21"]

[env]
GOPATH = "$REPL_HOME/gopath"

[nix]
channel = "stable-24_05"
packages = ["ansible"]

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = "CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o main ./security"
run = "./main"
ignorePorts = false
deploymentTarget = "gce"

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run ./security"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"
